// base styling

body {
  background: black url($background-image) no-repeat fixed center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  //font
  font-family: $secondary-font-family;

  //small viewport
  .container, .container-fluid{
    margin-left: 0;
    margin-right: 0;
    padding-left: $container-min-pad !important;
    padding-right: $container-min-pad !important; 
  }
  //medium viewport
  @media (min-width: $screen-sm-min){

  }
  //large viewport
  @media (min-width: $screen-md-min) {
    width: $screen-md-min;
    .container, .container-fluid{
      margin-left: 0;
      margin-right: 0;
      padding-left: $container-pad !important;
      padding-right: $container-pad !important; 
    }
  }
  
  //more button
  .more i{
    color: rgba(0,0,0,0.5);
    font-size: 3rem;
  }
  .more:hover i{
    color: rgba(0,0,0,1);
  }
  p.more{
    padding-top: 2rem !important;
    padding-bottom: 1rem !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    margin-left: auto !important;
    margin-right: auto !important;
    text-align: center;
  }
}
