// base styling

body {
  background: black url($background-image) no-repeat fixed center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  //small media
  @media screen and (max-width: $navbar-width-max) {
    .container, .container-fluid{
      margin-left: 0;
      margin-right: 0;
      padding-left: $container-min-pad;
      padding-right: $container-min-pad;
    }
  }
  //wide media
  @media screen and (min-width: $navbar-width-max) {
    width: $navbar-width-max;
    .container, .container-fluid{
      margin-left: 0;
      margin-right: 0;
      padding-left: $container-pad;
      padding-right: $container-pad;
    }
  }
  //more button
  .more i{
    color: black;
    font-size: 3rem;
  }
  p.more{
    padding-top: 2rem !important;
    //padding-bottom: 1.5rem !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    margin-left: auto !important;
    margin-right: auto !important;
    text-align: center;
  }
}
