//font
@import url('https://fonts.googleapis.com/css?family=Alegreya|Lato|Playfair+Display|Roboto');
$base-font-family: 'Alegreya', 'Roboto', sans-serif, serif;
// font-family: 'Roboto', sans-serif;
// font-family: 'Alegreya', serif;
// font-family: 'Lato', sans-serif;
// font-family: 'Playfair Display', serif;
$base-font-size: 16px;
$hero-font-size: 40px;
$base-font-color: #ffffff;
$primary-font-color: #000000;

//color
$primary-color: #009688;
$primary-color-dark: darken($primary-color, 10%);
$primary-color-light: lighten($primary-color, 10%);
$primary-color-light-2: lighten($primary-color, 20%);
$secondary-color: #FF5722;
$secondary-color-dark: darken($secondary-color, 10%);
$secondary-color-light: lighten($secondary-color, 10%);
$gray-color: #424242;
$gray-color-dark: darken($gray-color, 30%);
$gray-color-light: lighten($gray-color, 30%);
$gray-color-light-2: lighten($gray-color, 70%);

//image
$background-image: "/img/wallpapers.jpg";