@import url(https://fonts.googleapis.com/css?family=Alegreya|Lato|Playfair+Display|Roboto);/*
	Blog_App Sass Theme
	Author: babangcreator
	Version: 0.0.1
*/

/* BASE - Base styles, variables, mixins, etc */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

body {
  font-family: "Alegreya", "Roboto", sans-serif, serif;
  font-size: 16px;
}

/* MODULES - Individual site components */

.section-light img {
  width: 20%;
}

/* LAYOUTS - Page layout styles */

.navbar {
  height: 15vh;
}

.navbar a {
  color: #000000 !important;
  padding-bottom: 2px !important;
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
}

.navbar a:hover,
.navbar .nav-item.active a {
  padding-bottom: 4px !important;
  border-bottom: 2px solid #000 !important;
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
}

.navbar .navbar-brand {
  padding: 6px 8px !important;
  margin-bottom: 4px;
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
}

.navbar-inner {
  background: transparent;
}

.jumbotron {
  background: crimson url("/img/wallpapers.jpg") center no-repeat;
  width: 100%;
  color: #fff;
  padding: 30px 20px;
  margin: 0;
  text-align: center;
}

.jumbotron img {
  width: 25%;
  border-radius: 50%;
  padding: 0;
  margin: 0 0 10vh 0;
}

.jumbotron a {
  color: #000000;
  font-size: 50px;
}

