@import url(https://fonts.googleapis.com/css?family=Alegreya|Lato|Playfair+Display|Roboto);/*
	Blog_App Sass Theme
	Author: babangcreator
	Version: 0.0.1
*/

/* BASE - Base styles, variables, mixins, etc */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

body {
  font-family: "Alegreya", "Roboto", sans-serif, serif;
  font-size: 15px;
}

/* MODULES - Individual site components */

/* LAYOUTS - Page layout styles */

