@import url(https://fonts.googleapis.com/css?family=Alegreya|Lato|Playfair+Display|Roboto);/*
	Blog_App Sass Theme
	Author: babangcreator
	Version: 0.0.1
*/

/* BASE - Base styles, variables, mixins, etc */

body {
  font-family: "Alegreya", "Roboto", sans-serif, serif;
  font-size: 25px;
}

/* MODULES - Individual site components */

/* LAYOUTS - Page layout styles */

