// gallery styling

.content{
  width: 100%;
}

.gallery-card{
  //dimension

  //keep aspect ratio
  @include aspect-ratio(4, 3);
  //small viewport
  width: 100%;
  //medium viewport
  @media (min-width: $screen-sm-min){
    width: 50%;
  }
  //large viewport
  @media (min-width: $screen-md-min) {
    width: 33.3%;
  }  
  
  border: none;
  box-sizing: border-box;

  //put on left
  float: left;

  //image
  img{
    width: 100%;
    height: auto;
  }

  //font
  color: white;
  h2{
    font-family: $primary-font-family;
  }

  //background
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  &:nth-child(3){
    background-color: $secondary-color !important;
  }
  &:nth-child(5){
    background-color: $secondary-color-dark !important;
  }

  //hero
  &.hero{
    //small viewport
    width: 100%;
    //medium viewport
    @media (min-width: $screen-sm-min){
      width: 100%;
    }
    //large viewport
    @media (min-width: $screen-md-min) {
      width: 66.6%;
    }
    //background
    background-color: $primary-color !important;
  }
}

.content-group{
  //small viewport
  .inner-caption{
    display: none;
    //medium viewport
    @media (min-width: $screen-sm-min){
      display: inline-block;
    }
    //large viewport
    @media (min-width: $screen-md-min) {
      display: inline-block;
    }
  }
  .outer-caption{
    display: inline-block;
    //medium viewport
    @media (min-width: $screen-sm-min){
      display: none;
    }
    //large viewport
    @media (min-width: $screen-md-min) {
      display: none;
    } 
  }
}