// jumbotron and intro style

.jumbotron{
  background: crimson url('/img/wallpapers.jpg') center no-repeat;
  width: 100%;
  color: #fff;
  padding: 30px 20px;
  margin: 0;
  text-align: center;
  img{
    width: 25%;
    border-radius: 50%;
    padding: 0;
    margin: 0 0 10vh 0;
  }
  a{
    color: #000000;
    font-size: 50px;
  }
}
