// jumbotron and intro style

//main intro
.intro-main .jumbotron{
  //background
  background-color: transparent;
  //text
  text-align: center;
  color: white;
  h1{
    float: none;
    font-size: 4rem;
    font-family: $primary-font-family;
    line-height: 3;
  }
  p{
    width: 66%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
  }
  p.more{
    padding-top: 3rem !important;
  }
  //dimension
  min-height: $min-intro-height;
  padding-top: $container-v-pad + 35px;
}
