// navigation bar
.navbar{
  height: 10vh;
  background: $gray-color;
  padding-top: 1vh;
  padding-bottom: 1vh;
  a{
    color: $base-font-color !important;
    box-sizing: border-box !important;
  }
  .nav-item a{
    padding-bottom: 6px !important;
  }
  .nav-item a:hover, .nav-item.active a{
    padding-bottom: 4px !important;
    border-bottom: 2px solid $base-font-color !important;
  }
  a.navbar-brand{
    padding-right: 10px;
    padding-left: 10px;
    margin-bottom: 6px;
  }
  .dropdown a, .dropdown a:hover{
    padding-bottom: 2px !important;
    border-bottom: 0px !important;
  }
  .form-inline{
    margin-bottom: 0px !important;
  }
  .dropdown-menu{
    background: $gray-color-light;
    border-radius: 0;
    margin-top: 2vh;
    a{
      padding: 4px 10px;
      &:hover{
        background-color: $gray-color-dark;
      }
    }
  }
}