// navigation bar
.navbar{
  height: 15vh;
  
  a{
    color: #000000 !important;
    padding-bottom: 2px !important;
    box-sizing: border-box !important;
  }
  a:hover, .nav-item.active a{
    padding-bottom: 4px !important;
    border-bottom: 2px solid #000 !important;
    box-sizing: border-box !important;
  }
  .navbar-brand{
    padding: 6px 8px !important;
    margin-bottom: 4px;
    box-sizing: border-box !important;
  }
}

.navbar-inner{
  background: transparent;
}