//quote styling

.section-quote{
  padding-right: 1rem;
  padding-left: 1rem;
  p{
    font-family: $primary-font-family;
    text-align: right;
    font-size: 3.4rem;
    color: rgba(0, 0, 0, 0.8);
    line-height: 1.4;

    padding-top: 2.5rem;
    padding-bottom: 3rem;
  }
  .blockquote-footer{
    font-family: $primary-font-family;
    font-size: 1.8rem;
    text-align: right;
    color: rgba(0,0,0,0.6);
    font-style: italic;

    padding-bottom: 2rem;
  }
}