// sections

// section intro
.section-intro{
  //background
  background-color: rgba(0, 0, 0, 0.5) !important;
  //shadow
  @include no-shadow;
  //more button
  .more i{
    color: rgba(255,255,255,0.5);
  }
  .more:hover i{
    color: rgba(255,255,255,1);
  }
}

// section default
section{
  //background
  background-color: $gray-color;
  //shadow
  @include box-shadow (0, 0, $shadow-blur, $shadow-color, true);
  
  //elements

  //load more button
  .load-more{
    font-family: $primary-font-family;
    float: right;
    color: rgba(0,0,0,.5);
    font-size: 1.5rem;
    line-height: 2.5;
    &:hover{
      color: rgba(0,0,0,1);
      text-decoration: none;
    }
  }

  //small viewport
  //title
  h1{
    padding-bottom: 1.8rem;
    font-family: $primary-font-family;
    font-size: 2rem;
    font-weight: lighter;
    float: left;
  }
  //dimension
  padding-top: 4rem;
  padding-bottom: 1.5rem;
  //medium viewport
  @media (min-width: $screen-sm-min){
    //title
    h1{
      padding-bottom: 2rem;
      font-size: 2.4rem;
    }
  }
  //large viewport
  @media (min-width: $screen-md-min){
    //title
    h1{
      padding-bottom: 3rem;
      font-size: 3rem;
    }
  }
}

// section light
.section-light{
  //background
  background-color: $gray-color-light;
  //shadow
  @include no-shadow;
  img{
    width:20%;
  }
}